#buttonStart {
    width: 150px;
    margin: 20px;
}

.mx-auto {
    padding-top: 100px;
    width: 80vw;
}

#option1,
#option2,
#option3,
#option4 {
    width: 150px;
    height: 80px;
    margin: 10px;
}

#buttonSubmitAnswer,
#buttonResetGame {
    width: 150px;
    height: 80px;
    margin: 10px;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */