/*-------------------------------------------*\
   _buttons.scss
 
   Index

\*-------------------------------------------*/

.btn {
    border: 1px dotted white;
    font-size: .8rem;
    font-family: $major-mono;
    font-weight: lighter;
}

// Button: "Start new game"
.btnstartNewGame {
    font-family: $ibm-mono;
    font-size: 1.5rem;
    border: 3px dotted white;
    margin: 20px;
    padding: 10px;
    background-color: goldenrod;
}

// Buttons: With the guesses (student names)
#option1,
#option2,
#option3,
#option4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: "IBM Plex Mono",monospace;
    height: 100px;
    width: 100%;
}

// Buttons: the game options (10 students, 20 students or all students)
#nbrOfGames {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Medium and large screen
@media screen and (min-width: 767px) {
    
}

// Large screen
@media screen and (min-width: 1023px) {

}