/*-------------------------------------------*\
   _buttons.scss
 
   Index

\*-------------------------------------------*/

// All buttons
.btn {
    border: 1px dotted $primary-color;
    font-size: .8rem;
    font-family: $major-mono;
    font-weight: lighter;
}

// Button: "Start new game"
.btnstartNewGame {
    font-family: $ibm-mono;
    font-size: 1.5rem;
    border: 3px dotted $primary-color;
    margin: 20px;
    padding: 10px;
    background-color: goldenrod;
}

// Buttons: With the guesses (student names)
#option1,
#option2,
#option3,
#option4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    font-family: "IBM Plex Mono",monospace;
    height: 100px;
    width: 100%;
}

// Buttons: the game options (10 students, 20 students or all students)
#nbrOfGames {
    display: flex;
    justify-content: center;
    align-items: center;
}