/*-------------------------------------------*\
   _header.scss
 
   Index
   - Font styling for h1 and h2

\*-------------------------------------------*/

h1 {
   font-size: 2rem;
   letter-spacing: .05rem;
   color: $primary-color;
   font-family: $major-mono;
   font-weight: lighter;
}

h2 {
   margin: 20px;
}