/*-------------------------------------------*\
   _header.scss
 
   Index

\*-------------------------------------------*/

h1 {
   font-size: 3rem;
   color: $primary-color;
   font-family: $major-mono;
   font-weight: lighter;
}

h2 {
   margin: 20px;
}

#turnoutBox {
   border: 1px dotted grey;
   padding: 40px 20px;
   margin: 40px 10px;
   font-size: 1rem;
}