/*-------------------------------------------*\
   _main.scss
 
   Index

\*-------------------------------------------*/

h2,
h3,
h4 {
    font-size: 1.3rem;
    color: $primary-color;
    font-family: $ibm-mono;
    font-weight: lighter;
}

h2 {
    margin: 20px;
}

.mx-auto {
    padding-top: 10px;
    width: 80vw;
    background-color: $secondary-color;
}

.image {
    max-width: 100%;
    height: auto;
    padding: 5px;
    border: 1px dotted white;
}

#infoBox,
#nbrOfGamesInfoBox {
    padding: 20px;
}

.hide {
    display: none;
}