/*-------------------------------------------*\
   _main.scss
 
   Index

\*-------------------------------------------*/

h2 {
    margin: 20px;
}

h2,
h3,
h4 {
    font-size: 1.3rem;
    color: $primary-color;
    font-family: $ibm-mono;
    font-weight: lighter;
}

h4 {
    font-size: 2.5rem;
    letter-spacing: .5rem;
}

h4 
.success {
    border: 1px dotted green;
    color: green;
}

h4 
.fail {
    border: 1px dotted rgb(255, 0, 0);
    color: red;
}

.mx-auto {
    padding-top: 10px;
    width: 80vw;
    background-color: $secondary-color;
}

.image {
    max-width: 100%;
    height: auto;
    padding: 5px;
    border: 1px dotted white;
}

#infoBox {
    padding: 10px;
}

.hide {
    display: none;
}