/*-------------------------------------------*\
   _main.scss
 
   Index

\*-------------------------------------------*/

h1,
h2 {
    font-size: 1.5rem;
}

h2 {
    color: red;
}

.mx-auto {
    padding-top: 100px;
    width: 80vw;
}

#studentImage {
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 2px solid white;
}

.btn {
    margin: 10px;
}

.btn-success,
.btn-danger {
    height: 50px;
}