/*-------------------------------------------*\
   _footer.scss
 
   Index
   - Position and font styling for the footer

\*-------------------------------------------*/

// Position and font styling for the footer
.footer {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   margin: 0 auto;
   font-size: 1rem;
   color: #fff;
   font-family: "IBM Plex Mono",monospace;
   letter-spacing: 1rem;
}