@import 'config';
@import 'header';
@import 'main';
@import 'buttons';

/*-------------------------------------------*\
   _style.scss
 
   Index
   - Import config, header, main, buttons
   - Body
\*-------------------------------------------*/

body {
    background-color: $secondary-color;
    color: $primary-color;
    margin: 20px;
}